h2 {
    text-align: center;
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
    background: linear-gradient(90deg, #2d4c82, #a335bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.encadre {
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
}

.budget-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.budget-input input {
    width: 100px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #fff;
    background: #333;
    color: #fff;
    font-size: 1rem;
}

.budget-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.budget-item {
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 120px;
    font-weight: bold;
    cursor: default;
    color: #fff;
    transition: 0.3s;
}

.budget-item.inactive {
    font-weight: normal;
    opacity: 0.5;
}

.category-options {
    display: none;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.category-option {
    cursor: pointer;
    font-weight: bold;
    background: #333;
    transition: 0.3s;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    text-align: center;
}
.category-option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.category-option.selected {
    background: #99b7ed;
    color: #fff;
}

.details-options {
    display: none;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.detail-item-circle {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    user-select: none;
}

.detail-item-circle.selected {
    background: #99b7ed;
    color: #fff;
    border-color: #fff;
}

#total-price {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    display: none;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}
#total-price {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    display: none;
}
