body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: black;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 5rem;
    background: linear-gradient(90deg, #2d4c82, #a335bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    padding: 0 10px;
}



nav {
    text-align: center;
    margin-top: 20px;
}
nav a {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 2rem;
    color: white;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 70%;
    margin: 40px auto;
    text-align: center;
}

.card-block h3 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    font-family: "Brush Script MT", cursive;
}


.card {
    width: 80%;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
    overflow: hidden;
    border: 2px solid #ddd;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    transform: rotateY(180deg);
    border: 2px solid #ddd;
}

.card-back p{
    color : white;
}
.card-block a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.detail-container {
    display: flex;
    gap: 30px;
    width: 80%;
    margin: 40px auto;
    align-items: flex-start;
}

.card-static {
    width: 40%;
    border: 2px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
}

.card-static img {
    width: 100%;
    height: auto;
    display: block;
}

.detail-text {
    width: 60%;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
    color : white;
    background-color: black;
}
.detail-text strong {
    font-weight: bold;
    background: linear-gradient(90deg, #2d4c82, #a335bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.example-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.example-images img {
    width: 300px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 12px;
}
h2{
    color: white;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 20px;
}

.title-img {
    height: 4em;
    width: auto;
    display: block;
    object-fit: contain;
}

.card-price {
    font-family: "Brush Script MT", cursive;
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(90deg, #2d4c82, #a335bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 10px;
}
.contact-text {
    text-align: center;
    font-size: 1.5em;
}

.contact-link {
    font-family: "Brush Script MT", cursive;
    font-size: 1.7em;
    text-decoration: underline;
    color: #2d4c82;
}

.contact-link:hover {
    color: #a335bc;
}

